/* COMMON */
body {
  color: #333333;
  /* 글자색상: #333333 */
  font-size: 16px;
  /* 폰트크기: 16px 기본값이지만 구조에 최상위요소에 명시적으로 사용 */
  font-weight: 400;
  /* 폰트두께: 400 */
  line-height: 1.4;
  /* 줄높이: 1.4배 사용하는 글꼴에 따라 달라질수 있다 */
  font-family: 'Nanum Gothic', sans-serif;
  /* 글꼴지정: 나눔고딕, 없을때는 산세리프체 */
}
img {
  display: block;
  /* 화면표시: 블록요소 */
}
a {
  text-decoration: none;
  /* 글자선사용: 사용하지 않음 */
}


/* HEADER */
header {
  background-color: #f6f5f0;
  /* 배경색상: #f6f6f6 */
  border-bottom: 1px solid #c8c8c8;
  /* 테두리선-아래: 두께1px 실선 색상#c8c8c8 */
}
header .inner {
  width: 1100px;
  /* 너비: 1100px */
  height: 120px;
  /* 높이: 120px; */
  margin: 0 auto;
  /* 외부여백: 위아래0 좌우auto 가운데 정렬 */
  position: relative;
  /* 위치: absolute의 기준*/
}
header .logo {
  height: 75px;
  /* 높이: 75px */
  position: absolute;
  /* 위치: 부모요소기준으로 배치 */
  top: 0;
  bottom: 0;
  left: 0;
  /* 정렬을 위한 기준점 */
  margin: auto;
  /* 가운데 배치를 위해 필요한 속성: 위치, 높이/너비, 마진 */
}
header .sub-menu {
  position: absolute;
  /* 위치: 부모요소기준 */
  top: 10px;
  /* 위에서10px */
  right: 0;
  /* 오른쪽 기준점 */
  display: flex;
  /* 화면표시: flex 자식요소 수평정렬 */
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  /* 글꼴지정 */
  display: flex;
    /* 화면표시: flex 자식요소 수평정렬 */
}
header .sub-menu ul.menu li {
  position: relative;
  /* 위치: 자식요소들의 기준점 만들기 */
}
header .sub-menu ul.menu li::before {
  /* ::before 요소 내부의 앞에, 여기서 부모요소는 li */
  content: "";
  /* 가상 요소 선택자를 사용할때 필수 */
  width: 1px;
  /* 너비: 1px */
  height: 12px;
  /* 높이: 12px */
  background-color: #e5e5e5;
  /* 배경색상: #e5e5e5 */
  position: absolute;
  /* position을 사용하면 display는 자동으로 block로 바뀐다 */
  top: 0;
  bottom: 0;
  /* 기준점 지정 */
  margin: auto;
  /* 가운데 정렬 */
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
  /* 화면표시: 화면에 표시하지 않음 */
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  /* 폰트크기: 12px */
  padding: 11px 16px;
  /* 내부여백: 위아래11px 좌우16px */
  display: block;
  /* 화면표시: 블록요소 */
  color: #656565;
  /* 폰트색상: #656565 */
}
header .sub-menu ul.menu li a:hover {
  color: #000;
  /* 폰트색상: #000 */
}
header .sub-menu .search {
  height: 34px;
  /* 높이: 34px */
  position: relative;
  /* 위치: 지삭요소중 absolute를 가진것의 기준이 되게 */
}
header .sub-menu .search input {
  width: 36px;
  /* 너비: 36px */
  height: 34px;
  /* 높이: 34px */
  padding: 4px 10px;
  /* 내부여백: 위아래4px 좌우10px */
  border: 1px solid #ccc;
  /* 테두리: 두께1px 실선 색상#ccc */
  box-sizing: border-box;
  /* 요소사이즈: 테두리선까지 포함해서 */
  border-radius: 5px;
  /* 모서리: 5px둥글게 */
  outline: none;
  /* input의 테두리: 사용하지 않음 */
  background-color: #fff;
  /* 배경색상: #fff */
  color: #777;
  /* 폰트색상: #777 */
  font-size: 12px;
  /* 폰트크기: 12px */
  transition: width .4s;
  /* 전환효과: 너비만 .4초 */
}
header .sub-menu .search input:focus {
  width: 190px;
  /* 너비: 190px */
  border-color: #669900;
  /* 테두리색상: #669900 */
}
header .sub-menu .search .material-icons {
  height: 24px;
  /* 높이: 24px */
  position: absolute;
  /* 위치: 부모요소를 기준으로 */
  top: 0;
  bottom: 0;
  right: 5px;
  /* 기준점 */
  margin: auto;
  /* 외부여백: 가운데정렬 */
  transition: .4s;
  /* 전환효과: .4초 */
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
  /* 투명도: 0 */
}